<div class="container">
  <div *ngIf="items.length===0; else showItems">   
    there are no wishes to display
  </div>

  <ng-template #showItems>
    <ul class="wish-list">
      <li *ngFor="let item of items; index as i" style="display: flex; align-items: left;">
        <div class="form-check">
          <input
            class="checkbox"
            type="checkbox"
            [checked]="item.isComplete"
            [attr.data-index]="i"
            (click)="toggleItem(item)"
          />
        </div>
        <label class="form-check-label">{{ item.wishText }}</label>
      </li>
    </ul>
  </ng-template>




</div>